
<div class="ui one column stackable center aligned page grid">
 <div class="column twelve wide">
   <div class="row"></div>
   <div class="ui segment">

   <div class="selector">

      <select class="selector" (change)="onChange($event)">
        <option class="first" value="first">First</option>
        <option class="second" value="second">Second</option>
        <option class="third" value="third">Third</option>

      </select>
      <div [className]="classDiv">
      You have chosen: {{option}}
      </div>
    </div> 
  </div>

   <div class="row"></div>
   <div class="ui segment" 
   (click)="clickNumber=clickNumber+1" 
   (mouseenter)="mouseOverStatus=true"
   (mouseleave)="mouseOverStatus=false"
   >

     Number of clicks : {{clickNumber}} MouseOver: {{mouseOverStatus}}

   </div>

</div>
</div>

